<div class="container">
  <section class="card">
    <div>
      <h1>Create a Retroboard</h1>
      <p class="text-gray-500 text-sm">
        Create a Retroboard for free and without an account. Just enter the name
        of the board. Then, share the link with your teammates.
      </p>
    </div>
    <form [formGroup]="createBoardForm" (ngSubmit)="createBoard()">
      <div class="flex items-stretch grow gap-2">
        <input
          formControlName="name"
          type="text"
          autocomplete="off"
          placeholder="Name of your board"
          maxlength="100"
          autofocus
        />
        <button
          class="primary shrink-0"
          type="submit"
          [disabled]="createBoardForm.invalid || createBoardForm.disabled"
        >
          @if (creatingBoard()) {
            <app-spinner />
          } @else {
            Create Board
          }
        </button>
      </div>
    </form>
    <div class="disclaimer">
      By creating a board you accept our
      <a routerLink="privacy">privacy policy</a> and
      <a routerLink="terms">terms</a>.
    </div>
  </section>
  <section class="card">
    <div>
      <h2>Previous Boards</h2>
      <p class="text-gray-500 text-sm">
        Search for a board that you previously created.
      </p>
    </div>
    <form [formGroup]="previousBoardsForm">
      <p-autoComplete
        formControlName="name"
        field="name"
        [suggestions]="filteredBoards()"
        (completeMethod)="filterBoards($event)"
        (onSelect)="goToBoard($event)"
        [completeOnFocus]="true"
        showTransitionOptions="0s"
        hideTransitionOptions="0s"
        [forceSelection]="true"
        scrollHeight="118px"
        placeholder="Search for a previous board..."
      />
    </form>
  </section>
</div>
