<section>
  <h1>Update Feedback</h1>
  <div class="text-sm text-gray-600">
    Please keep it respectful. Anyone with the link to this board will be able
    to view this.
  </div>
</section>
<form [formGroup]="form" class="text-right">
  <textarea
    formControlName="description"
    placeholder="Start typing your feedback..."
    [maxlength]="MaxLength.FeedbackDescription"
  ></textarea>
  <span class="text-sm text-gray-500">
    {{
      MaxLength.FeedbackDescription - description.length
        | plural: "character" : "characters"
    }}
    remaining
  </span>
</form>
<section class="flex justify-start flex-row-reverse gap-2">
  <button
    type="submit"
    [disabled]="form.invalid || form.disabled || form.pristine"
    (click)="updateFeedback()"
  >
    Update
  </button>
  <button mat-dialog-close class="cancel">Cancel</button>
</section>
