<article class="container flex flex-col gap-2 w-full pt-2">
  <header>
    <div class="flex items-center gap-2">
      <h1 class="text-xl">
        {{ board().name }}
      </h1>
      <div
        class="flex items-center gap-2 text-sm bg-green-100 px-2 py-1 rounded-2xl cursor-default"
        matTooltip="{{
          board().viewers | plural: 'person' : 'people'
        }} viewing this board"
      >
        <div class="h-3 w-3 bg-emerald-600 rounded-full"></div>
        {{ board().viewers ?? 1 }}
      </div>
    </div>
    <div class="flex items-center gap-1">
      <label
        class="toggle"
        for="SortByVotesToggle"
        matTooltip="Sort by Votes"
        aria-label="sort by votes toggle"
      >
        <img src="/icons/sort-desc.svg" class="size-6" alt="sort descending" />
        <input
          id="SortByVotesToggle"
          type="checkbox"
          [(ngModel)]="sortByVotes"
        />
      </label>
      @if (isOwner()) {
        <button
          class="text-sm"
          (click)="openBoardSettings()"
          matTooltip="Board Settings"
          aria-label="open board settings"
        >
          <img src="/icons/settings.svg" class="size-6" alt="settings" />
        </button>
      }
    </div>
  </header>
  <div
    class="grid grid-flow-col auto-cols-min lg:auto-cols-fr gap-6 flex-1 overflow-x-auto w-full pb-4"
  >
    @for (column of board().columns; track column.id) {
      <app-column [sorted]="sortByVotes" [column]="column" />
    }
  </div>
</article>
