{{ feedback().description }}
@if (feedback().comments.length > 0) {
  <ol class="flex flex-col gap-1 text-sm">
    @for (comment of feedback().comments; track comment.id) {
      <li
        class="group flex justify-between items-center border-l-4 pl-2 border-gray-300"
        [ngClass]="{
          'border-gray-600': isCommentOwner(comment),
        }"
      >
        {{ comment.description }}
        @if (isCommentOwner(comment)) {
          <div class="flex sm:hidden group-hover:flex items-center gap-1.5">
            <button
              (click)="openUpdateCommentDialog(comment)"
              matTooltip="Edit comment"
            >
              <img src="/icons/edit.svg" class="size-4" alt="edit" />
            </button>
            <button
              class="danger"
              (click)="destroyComment(comment.id)"
              matTooltip="Delete comment"
            >
              <img src="/icons/trash.svg" class="size-4" alt="trash" />
            </button>
          </div>
        }
      </li>
    }
  </ol>
}

<footer>
  <div id="Feedback{{ feedback().id }}_LHS">
    <button
      [ngClass]="{ voted: alreadyVoted() }"
      (click)="toggleVote()"
      matTooltip="{{ alreadyVoted() ? 'Remove vote' : 'Vote' }}"
    >
      @if (alreadyVoted()) {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-4"
          alt="unvote"
        >
          <path
            fill-rule="evenodd"
            d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
            clip-rule="evenodd"
          />
        </svg>
      } @else {
        <img src="/icons/star.svg" class="size-4" alt="vote" />
      }

      {{ feedback().votes?.length ?? 0 }}
    </button>
    <button matTooltip="Add comment" (click)="openCreateCommentDialog()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"
        />
      </svg>
      {{ feedback().comments.length }}
    </button>
  </div>
  @if (isOwner()) {
    <div id="Feedback{{ feedback().id }}_Control_Panel">
      <button (click)="openUpdateFeedbackDialog()" matTooltip="Edit feedback">
        <img src="/icons/edit.svg" class="size-4" alt="edit" />
      </button>
      <button class="danger" (click)="destroy()" matTooltip="Delete feedback">
        <img src="/icons/trash.svg" class="size-4" alt="trash" />
      </button>
    </div>
  }
</footer>
