<section class="flex items-center justify-between border-b py-2 px-3">
  <h1 class="text-base">
    {{ column().name }} <span>{{ column().feedback?.length ?? 0 }}</span>
  </h1>
  <button
    class="flex items-center text-sm shrink-0"
    (click)="openAddFeedbackDialog()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-4"
      aria-label="add feedback"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"
      />
    </svg>
    Add
  </button>
</section>
<div class="flex flex-col gap-3 p-3 h-full overflow-y-auto">
  @for (feedback of column().feedback; track feedback.id) {
    <app-feedback [feedback]="feedback" />
  }
</div>
<div class="border-t bg-gray-100 text-xs px-3 py-2 rounded-b-2xl">
  Total Votes: {{ this.totalVotes() }}
</div>
