<section class="flex items-center justify-between border-b py-2 px-3">
  <h1 class="text-base">
    {{ column().name }} <span>{{ column().feedback?.length ?? 0 }}</span>
  </h1>
  <button
    class="flex items-center text-sm shrink-0"
    (click)="openAddFeedbackDialog()"
  >
    <img src="/icons/add.svg" class="size-4" alt="add column" />
    Add
  </button>
</section>
<div class="flex flex-col grow gap-3 p-3 overflow-y-auto">
  @for (feedback of sortedColumn().feedback; track feedback.id) {
    <app-feedback [feedback]="feedback" />
  }
</div>
<div class="border-t bg-gray-100 text-xs px-3 py-2 rounded-b-2xl">
  Total Votes: {{ this.totalVotes() }}
</div>
